.left-nav {
  position: fixed;
  top: 60px;
  left: 0px;
  height: calc(100vh - 60px);
  overflow: hidden;
  width: 180px;
  border: 1px solid #ccc;
  border-top-width: 0px;
  border-left-width: 0px;
}

.left-nav ul {}

.left-nav li {
  position: relative;
  cursor: pointer;
  padding: 12px;
}

.left-nav li:focus {
  border: none;
  outline: none;
  -moz-outline: none;
}

.left-nav li:after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: ' ';
  transition: all .3s;
  height: 100%;
  width: 4px;
  background-color: transparent;
  display: block;
}

.left-nav li:hover::after {
  background-color: #d79e86;
}

.left-nav li.active:after {
  background-color: #543426;
}
