<div class="header clearfix">
  <div class="logo pull-left">
    <img src="./assets/img/logo.png" alt="">
  </div>
  <ul class="info clearfix pull-right">
    <li class="pull-left">
      <a class="info-a" href="#" (click)="dropFn()">
        XXX用户&nbsp;
        <span class="fa" 
          [class.fa-caret-down]="!isExpored"
          [class.fa-caret-up]="isExpored"
        ></span>
      </a>
      <ul [hidden]="!isExpored" class="drop-down">
        <li><a (click)="selectUserInfo()" href="#">111</a></li>
        <li><a (click)="selectUserInfo()" href="#">设置</a></li>
        <li><a (click)="selectUserInfo()" href="#">注销</a></li>
      </ul>
    </li>
    <li class="pull-left"><a class="info-a" href="#">登录</a></li>
    <li class="pull-left"><a class="info-a" href="#">注册</a></li>
    <li class="pull-left"><a class="info-a" href="#">帮助中心</a></li>
    <li class="pull-left"><a class="info-a" href="#">关于</a></li>
  </ul>
</div>
