<div class="login-page">

  <div class="login-form-wrap">
    <form #registerFormN="ngForm" (ngSubmit)="registerSubmit(registerForm)">
      <!--用户名-->
      <div class="form-group">
        <input class="form-block" placeholder="电子邮箱" type="email" name="email" 
        required 
        #userEmail="ngModel" 
        [(ngModel)]="registerForm.userEmail">
      </div>
      <!--密码-->
      <div class="form-group">
        <input class="form-block" placeholder="用户密码" type="password" name="userPassword" 
        required 
        minlength="6"
        maxlength="12"
        #userPassword="ngModel" 
        [(ngModel)]="registerForm.userPassword">
      </div>
      <!--注册按钮-->
      <div class="form-group">
        <button [disabled]="!registerFormN.valid" class="btn-block" type="submit">注册</button>
      </div>
      

    </form>
  </div>

</div>
