.main{
    padding-top: 60px;
    padding-left: 180px;
}
.main-wrap{
    min-height: calc(100vh - 60px);
    position: relative;
}
.footer{
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px;
}


