html,body{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}
.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.center-block{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
